body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 113, 48);
    height: 100vh;
}

.container {
    width: 650px;
    height: 350px;
    background-color: rgb(152, 172, 162);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demo {
    width: 250px;
    height: 70px;
    background-color: rgb(84, 84, 190);
    border-radius: 159px;
    cursor: pointer;
}

h2 {
    font-style: normal;
}

.com {
    display: none;
}

.material-symbols-outlined {
    position: absolute;
    margin-right: 185px;
    color: rgb(50, 204, 165);
    font-size: 50px;
}

